<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CSS LAYOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>My Website</h1>
        </div>
    </header>
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <section id="showcase">
        <div class="container">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deleniti nisi animi beatae magni illo quo
                culpa voluptas voluptates?.
            </h1>
        </div>
    </section>

    <div class="container">
        <section id="main">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis itaque odit tempora similique rem, voluptates
                nulla dolore deserunt laboriosam corrupti quasi aliquid maxime nostrum ipsa pariatur veniam. Dolorum animi
                illum autem? Repellendus sunt amet aspernatur blanditiis architecto ipsam nobis obcaecati minima porro? Quas
                veritatis quidem dolores necessitatibus quo libero ducimus error, excepturi, repellat, odit iusto ab blanditiis
                voluptas ipsum! Est odio delectus suscipit dolore libero consequatur laudantium, ex doloremque provident
                quam eveniet aspernatur aperiam maxime ipsa corporis error aliquid mollitia numquam enim, facere illo culpa?
                Autem ipsam sint nam nemo enim exercitationem fugiat aliquam officiis tenetur libero obcaecati possimus vero
                quasi quas, maxime natus repellat esse? Culpa, quam perspiciatis? Recusandae explicabo eveniet, molestiae
                ex iste consequatur alias debitis magnam, expedita cum natus sequi repellat veritatis, fugit nesciunt consectetur
                neque blanditiis est itaque temporibus sunt laboriosam. Laborum numquam beatae aspernatur, est neque cum
                unde, aliquam veniam provident rem corporis dolores! Quis, obcaecati asperiores. Ad voluptatem eum, nulla
                architecto corporis iusto quam distinctio minima dolore incidunt, aspernatur excepturi doloremque tenetur,
                aliquid commodi dignissimos! Obcaecati aperiam alias accusantium minus quis repellendus ad qui perspiciatis
                culpa sit adipisci quasi, non voluptatibus expedita praesentium soluta modi quod aliquid aspernatur quidem
                enim nesciunt aliquam similique. Illum dolorem obcaecati atque ipsa modi recusandae maxime eos.
            </p>
        </section>

        <aside id="sidebar">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis itaque odit tempora similique rem, voluptates
                nulla dolore deserunt laboriosam corrupti quasi aliquid maxime nostrum ipsa pariatur veniam. Dolorum animi
                illum autem? Repellendus sunt amet aspernatur blanditiis architecto ipsam nobis obcaecati minima porro? Quas
                veritatis quidem dolores necessitatibus quo libero ducimus error, excepturi, repellat, odit iusto ab blanditiis
                voluptas ipsum! Est odio delectus suscipit dolore libero consequatur laudantium, ex doloremque provident
                quam eveniet aspernatur aperiam maxime laboriosam.</p>
        </aside>
    </div>

    <footer id="main-footer">
        <p>Copyright &copy;2018 My Website</p>
    </footer>

</body>

</html>